.filter-field {
  display: flex;
  flex-direction: column;
  min-width: 247px;
}

.filter-field_form-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.filter-field_heading-text {
  margin: 0 0 15px 10px;
  font-weight: bold;
}